* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.todo {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column

}
.banner {
    font-size: 35px;
    text-align: center;
}
.todoInner {
    margin: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.todo_render {}

.todo_render>div {
    margin: 2rem 0;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo_render>div button {
    padding: 10px;
    font-size: 1rem;
    border: 1.5px solid rgb(255, 166, 0);
    border-radius: 5px;
    background: rgb(255 166 0 / 8%);
}

.todo_render>div button:hover {
    transition: .5s ease-out;
    color: red;
    border: 1.5px solid red;
    scale: 1.05;
}

#todo-title {
    width: 200px;
    height: 40px;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0 10px;
    font-weight: 500;
    letter-spacing: 2px;
}

#duedate {
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

.addTodo {
    padding: 10px;
    height: 44px;
    font-size: 1rem;
    transition: .5s ease-out;
}

.addTodo:hover {
    scale: 1.05;
}

.new_todo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(37, 84, 238);
    display: none;
    position: absolute;
    bottom: 15%;
    right: 5%;
    color: white;
    font-size: 2rem;
}

@media(max-width:600px) {
    .todoInner {
        width: 90%;
    }

    .controls {
        flex-direction: column;
    }

    #duedate,
    #todo-title {
        width: 100%;
        border: 1px solid gray;
        margin-bottom: 10px
    }

    .todo {

        padding: 1.5rem 0;
        flex-direction: column
    }

    .banner {
        font-size: 20px;
        text-align: center;
    }

    .todo_render>div {
        font-size: 17px;
    }


    .chkbx {
        display: none;
    }

    .new_todo {
        display: flex;
        cursor: pointer;
    }

    .new_todo.new {
        display: block;
    }

    .controls {
        display: none;
    }
}

@media(max-width:400px) {
    .todo_render>div {
        font-size: 1rem;
    }
    .todo_render>div p:first-child {
        max-width: 106px
    }
}